.calculator {
  border: 1px solid black;
  width: 250px;
  height: 400px;
  background-color: #364878;
}

.screen {
  background-color: #5d5a53;
  color: #3e3f40;
  width: 100px;
  height: 20px;
}

.logo {
  color: white;
}

.solarpanel {
  background-color: black;
  width: 80px;
  height: 20px;
}

.button {
  background-color: white;
  color: #364878;
}
